@{
    ViewData["background"] = "images/lw_street.svg";
    ViewData["poweredByLogo"] = "images/powered-by-lifeworks.svg";
}
@{ IgnoreBody(); }
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="locale" content="en-US">
    <meta name="ROBOTS" content="NONE, NOARCHIVE">
    <meta name="GOOGLEBOT" content="NOARCHIVE">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes">

    <environment names="Development">
        <link rel="stylesheet" href="@Settings.Value.HostUrl/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="@Settings.Value.HostUrl/css/site.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <div id="background_branding_container">
        <img id="background_background_image" src="@Settings.Value.HostUrl/@ViewData["background"]" alt="Illustration" />
    </div>
    <div class="panel" id="panel">
        <table class="panel_layout">
            <tbody>
                <tr class="panel_layout_row">
                    <td id="panel_left"></td>
                    <td id="panel_center">
                        <div class="inner_container">
                            <div class="api_container normaltext">
                                <img id="white-labeled-logo" src="@Settings.Value.HostUrl/@ViewData["whiteLabelLogo"]" alt="Illustration">
                                
                                @* Azure AAD injection start *@
                                <div id="api"></div>
                                @* Azure AAD injection end *@
                            </div>
                        </div>
                        <img id="powered-by-logo" src="@Settings.Value.HostUrl/@ViewData["poweredByLogo"]" alt="Illustration">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <environment names="Development">
        <script src="@Settings.Value.HostUrl/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="@Settings.Value.HostUrl/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
